@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
.dog{
    width: 300px !important;
    height: auto;
    margin: 10px auto;
}
#dogimage{
    width: 500px
}
img{
    width: 100%;
}
.ntext{
    display: inline-block;
}

h1, h2{
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 14px;
    line-height: 50px;
    letter-spacing: 3px;
}

.box1{
    height: 5vh;
    width: 20vw;
    background: blueviolet;
    float: left;
}
.box2{
    height: 40px;
    width: 100px;
    background: url('https://images.unsplash.com/photo-1506882741710-98761c574b48?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=794de1f3a10ddf74c928e6cebd1aa55e&auto=format&fit=crop&w=500&q=60') no-repeat center;
    background-size: cover;
    float: right;
}